<p style="color: green"><%= notice %></p>

<% content_for :title, "Photos" %>

<h1>Photos</h1>

<div id="photos">
  <div class="row">
    <% @photos.each do |photo| %>
      <div class="col-4">
        <%= render photo %>
        <p>
          <%= link_to "Show this photo", photo %>
        </p>
      </div>
    <% end %>
  
  </div>
</div>

<%= link_to "New photo", new_photo_path %>
